.s-cta {
  position: relative;
  z-index: 2;
  padding: 10rem 0; /* Reduced from 55rem */
  background: #FFFFFF;
  --color-primary: #DDFDFF;
  --color-secondary: #000000;
  --color-shadow: rgba(0, 0, 0, 0.1);
}

.s-cta .s__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  height: calc(100vh - 8rem - 2px);
}

@media (max-width: 767px) {
  .s-cta .s__inner {
    height: calc(100vh - 4.375rem);
  }
}

.s-cta .s__button {
  position: relative;
  z-index: 1;
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  color: var(--color-primary);
  font: 400 1.5rem / 15rem "McLaren", system-ui, sans-serif;
  letter-spacing: normal;
  text-align: center;
  text-indent: 0.075em;
  text-transform: none; /* Removed uppercase */
  margin: 0 auto;
}

.s-cta .s__button__inner {
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  border-radius: 9999px;
  transition: scale 1s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  will-change: scale;
}

.s-cta .s__button__text {
  transition: scale 1.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  will-change: scale;
}

.s-cta .s__hover.is-active .s__button .s__button__inner {
  scale: 1.1;
  transition: scale 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.s-cta .s__hover.is-active .s__button .s__button__text {
  scale: 1.1;
  transition: scale 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

@keyframes s-cta-char-up-down {
  0% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  25% {
    transform: translate3d(0, -95%, 0);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  75% {
    transform: translate3d(0, 95%, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes s-cta-char-toggle {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}

.s-cta .s__cta {
  --size: 64rem;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  z-index: 2;
  width: var(--size);
  height: var(--size);
  background: var(--color-secondary);
  border-radius: 9999px;
  clip-path: circle(0 at 50% 50%);
  overflow: hidden;
  color: var(--color-primary);
  font: 700 calc(var(--size) * 0.12) / 1 "McLaren", system-ui, sans-serif; /* Reduced from 0.3743 to 0.12 */
  text-align: center;
  text-transform: uppercase;
  transition: clip-path 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  will-change: clip-path;
  pointer-events: none;
}

.s-cta .s__cta:before,
.s-cta .s__cta:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  transition: border-width 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  will-change: border-width;
  content: '';
  pointer-events: none;
}

.s-cta .s__cta:before {
  border: calc(var(--size) * 0.5) solid var(--color-primary);
}

.s-cta .s__cta:after {
  border: calc(var(--size) * 0.5) solid var(--color-secondary);
}

.s-cta .s__cta__link {
  position: absolute;
  top: calc(50% + var(--size) * 0.36);
  left: 50%;
  z-index: 3;
  display: block;
  padding: 1em 1em 1em 2em;
  background: var(--color-secondary);
  opacity: 0;
  transform: translate3d(-50%, 1em, 0);
  color: var(--color-primary);
  font: 700 14px / 1 "Merge One", system-ui, sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0s linear 0.3s, opacity 0s linear 0.3s;
  will-change: transform, opacity;
}

@media (max-width: 767px) {
  .s-cta .s__cta__link {
    top: calc(50% + var(--size) * 0.28);
    padding: 1em;
    font-size: 13px;
  }
}

.s-cta .s__cta__link:before {
  position: absolute;
  top: calc(50% - 3px);
  left: 0.6em;
  border-top: 3px solid transparent;
  border-left: 6px solid currentcolor;
  border-bottom: 3px solid transparent;
  content: '';
}

@media (max-width: 767px) {
  .s-cta .s__cta__link:before {
    display: none;
  }
}

.s-cta .s__cta__link:after {
  position: absolute;
  top: calc(50% - 499rem);
  left: calc(50% - 499rem);
  width: 999rem;
  height: 999rem;
  background: transparent;
  content: '';
}

.s-cta .s__cta__line {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  will-change: transform;
}

@media (max-width: 767px) {
  .s-cta .s__cta__line {
    top: 45%;
  }
}

.s-cta .s__cta__line--top {
  clip-path: inset(-100% 0 calc(50% + 0.01em) 0);
}

.s-cta .s__cta__line--bottom {
  clip-path: inset(calc(50% + 0.01em) 0 -100% 0);
  letter-spacing: 0.014em;
}

.s-cta .s__cta__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 0.8em;
}

.s-cta .s__cta__char {
  position: relative;
  height: 100%;
}

.s-cta .s__cta__char__slice {
  position: relative;
  display: block;
  height: 100%;
  animation: s-cta-char-up-down 2s infinite var(--move-delay);
  will-change: transform;
}

.s-cta .s__cta__char__slice:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  animation:
    s-cta-char-up-down 2s infinite var(--move-delay),
    s-cta-char-toggle 2s linear infinite var(--toggle-delay);
}

.s-cta .sup {
  font-size: 0.5em;
  vertical-align: top;
}

.s-cta .a-dots {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  transform: scale(1.1);
  transition: transform 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  will-change: transform;
}

.s-cta .a-dots:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background:
    repeating-linear-gradient(0deg, transparent, transparent 2px, var(--color-secondary) 3px, var(--color-secondary) 100%) center / 48px 48px repeat,
    repeating-linear-gradient(90deg, var(--color-primary), var(--color-primary) 2px, transparent 3px, transparent 48px) center / 48px 48px repeat;
  transform: translate3d(-50%, -50%, 0) scale(0.5);
  content: '';
}

@keyframes s-cta-star-float {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(0, -15%, 0) scale(0.5); }
  100% { transform: translate3d(0, 0, 0); }
}

.s-cta .s__cta__stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  transition: transform 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  will-change: transform;
}

.s-cta .s__cta__star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.15em;
  height: auto;
  fill: var(--color-primary);
  animation: s-cta-star-float 10s infinite ease-in-out;
  will-change: transform;
}

.s-cta .s__cta__star:nth-child(1) { top: 12%; left: 25%; animation-duration: 8s; }
.s-cta .s__cta__star:nth-child(2) { top: 33%; left: 85%; width: 0.1em; animation-duration: 9s; }
@media (min-width: 600px) { .s-cta .s__cta__star:nth-child(2) { width: 0.15em; } }
.s-cta .s__cta__star:nth-child(3) { top: 60%; left: 11%; width: 0.1em; animation-duration: 7s; }
@media (min-width: 600px) { .s-cta .s__cta__star:nth-child(3) { width: 0.15em; } }
.s-cta .s__cta__star:nth-child(4) { top: 83%; left: 74%; width: 0.15em; }
@media (min-width: 768px) { .s-cta .s__cta__star:nth-child(4) { top: 79%; left: 78%; } }

.s-cta .s__hover.is-active .s__cta {
  clip-path: circle(50% at 50% 50%);
  transition: clip-path 1s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  pointer-events: auto;
}

.s-cta .s__hover.is-active .s__cta:before {
  border-width: 1rem;
  transition: border-width 1.1s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
}

@media (max-width: 767px) {
  .s-cta .s__hover.is-active .s__cta:before { border-width: 0.5rem; }
}

.s-cta .s__hover.is-active .s__cta:after {
  border-width: 1px;
  transition: border-width 1.005s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
}

.s-cta .s__hover.is-active .s__cta .s__cta__stars {
  transform: scale(1);
  transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
}

.s-cta .s__hover.is-active .s__cta .s__cta__line {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1.8s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
}

.s-cta .s__hover.is-active .s__cta .s__cta__link {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 1s, opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.s-cta .s__hover.is-active .s__cta .a-dots {
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
}

.s-cta .s__grid {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.s-cta .s__grid__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s-cta .s__grid__path {
  fill: none;
  stroke: var(--color-secondary);
  stroke-width: 1px;
}

.s-cta.is-out-of-view .s__hover {
  display: none;
}
